* {
    border: 0px dashed red;
    margin: 0px;
    padding: 0%;
}

html {
    font-size: 1vh;
}

header {
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 3vh;
    margin: 0px;
    padding: 0px;
    color: #F3F4F6;
    font-family: roboto;
    position: fixed;
}

body {
    font-family: roboto;
}

#wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#contact-info {
    display: flex;
    width: 50%;
    padding-left: 1%;
    align-items: center;
    gap: 3%;
    height: 3vh;
}

#contact-info a {
    text-decoration: none;
    color: #F3F4F6;
    font-size: 2rem;
    font-weight: bold;
}

#topbarsocialmedia {
    display: flex;
    width: 50%;
    height: 3vh;
    justify-content: right;
    align-items: center;
    padding-right: 3%;
    gap: 1%;
}

#topbarsocialmedia img {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 20%;
}

#left-bar {
    height: 97vh;
    width: 20%;
    background-color: #1E3A8A;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 3vh;
}

#profile-pic img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

#profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40vh;
    padding: 0px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#left-description {
    width: 100%;
    text-align: center;
}

#left-description h1{
    color: #60A5FA;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    width: 100%;
    height: 6vh;
    text-align: center;
    font-size: 5rem;
}

#left-description h2{
    color: #F3F4F6;
    background-color: #60A5FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

#left-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 47vh;
    gap: 3vh;
    padding-top: 3vh;
}

#left-menu a {
    color: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-size: 4rem;
    text-decoration: none;
    font-weight: bold;
}

#left-menu a:hover {
    font-size: 3.5rem;
    text-shadow: 0 0 10px #60A5FA;
}

#content {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 25%;
    margin-top: 5vh;
}

#about-me-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    scroll-margin-top: 5vh;
}

#about-me {
    display: flex;
    flex-direction: column;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.301);
    width: 100%;
    border-radius: 15px;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 3vh;
}

#about-me h2 {
    font-size: 4.5vh;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#about-me p {
    margin: 2%;
    margin-top: 1%;
    color: black;
}

#key-skills {
    display: flex;
    flex-direction: column;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.301);
    width: 100%;
    border-radius: 15px;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 3vh;
    padding-bottom: 2%;
}

#key-skills h2 {
    margin: 2%;
    margin-bottom: 0%;
}

#img-skills-div {
    display: flex;
    flex-direction: row;
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 0%;
    gap: 1.5%;
    justify-content: center;
}

#img-skills {
    width: 10vh;
}

#long-img {
    width: 14vh;
}

#about-information {
    display: flex;
    flex-direction: row;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.301);
    width: 100%;
    border-radius: 15px;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 3vh;
}

#about-information-subdiv {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin-left: 2vh;
    
}

#about-information-subdiv h2 {
    color: #60A5FA;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

#about-information-subdiv ul {
    margin-bottom: 1vh;
}

#google-maps {
    width: 50%;
    height: 25vh;
    margin: 1%;
    margin-left: 3%;
}

#experience-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    scroll-margin-top: 5vh;
}

#contact-buttons {
    display: flex;
    flex-direction: column;
    width: 5vh;
    position: fixed;
    right: 2vh;
    top: 45vh;
    gap: 1vh;
}

#contact-buttons img {
    max-width: 75%;
    max-height: 75%;
}

#WhatsApp-button {
    background-color: #075E54;
    padding: 1vh;
    border-radius: 50%;
}

#WhatsApp-button:hover {
    box-shadow: 0 0 10px #075E54;
}

#LinkedIn-button {
    background-color: #0E76A8;
    padding: 1vh;
    border-radius: 50%;
}

#LinkedIn-button:hover {
    box-shadow: 0 0 10px #0E76A8;
}

#Mail-button {
    background-color: grey;
    padding: 1vh;
    border-radius: 50%;
}

#Mail-button:hover {
    box-shadow: 0 0 10px grey;
}



