* {
    border: 0px dashed red;
    margin: 0px;
    padding: 0%;
}

html {
    font-size: 1vh;
}

body {
    font-family: roboto;
}

#wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#contact-info {
    position: relative;
    width: 100%;
    height: 3vh;
    font-size: 2.4rem;
    color: #F3F4F6;
    font-weight: bold;
    overflow: hidden;
}

.fade {
    position: absolute;
    color: #F3F4F6;
    text-decoration: none;
    font-weight: bold;
    opacity: 0;
    animation: fadeAnimation 10s infinite;
}

.phone-link {
    left: 7.5vh;
    animation-delay: 10s;
}

.mail-link {
    left: 4vh;
    animation-delay: 15s;
}


@keyframes fadeAnimation {
    0% {
      opacity: 0; /* Invisible */
    }
    5% {
      opacity: 1; /* Comienza a aparecer */
    }
    45% {
      opacity: 1; /* Permanece visible */
    }
    50% {
      opacity: 0; /* Comienza a desaparecer */
    }
    100% {
      opacity: 0; /* Permanece invisible */
    }
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  .fadeIn {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

#topbarsocialmedia {
    display: flex;
    width: 100%;
    height: 4vh;
    align-items: center;
    justify-content: center;
    margin-top: 0vh;
    padding-top: 2vh;
    gap: 2vh;
    border-top: 0.1vh solid #60A5FA;
}

#topbarsocialmedia2 {
    display: flex;
    width: 100%;
    height: 4vh;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    gap: 2vh;
}

#topbarsocialmedia img {
    width: 4vh;
    height: 4vh;
    border-radius: 20%;
}

#topbarsocialmedia2 img {
    width: 4vh;
    height: 4vh;
    border-radius: 20%;
}

#left-bar {
    height: 100vh;
    width: 20vw;
    background-color: #1E3A8A;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

#profile-pic img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

#profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40vh;
    padding: 0px;
}

#left-description {
    width: 100%;
    text-align: center;
}

#left-description h1{
    color: #60A5FA;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    width: 100%;
    height: 6vh;
    text-align: center;
    font-size: 5rem;
    margin-top: 1vh;
}

#left-description h2{
    color: #F3F4F6;
    background-color: #60A5FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

#left-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 32vh;
    gap: 1.5vh;
    padding-top: 1vh;
}

#left-menu a {
    color: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-size: 4rem;
    text-decoration: none;
    font-weight: bold;
}

#left-menu a:hover {
    font-size: 3.5rem;
    text-shadow: 0 0 10px #60A5FA;
}

#content {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 25%;
    margin-top: 5vh;
}

#about-me-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    scroll-margin-top: 5vh;
}

#about-me {
    display: flex;
    flex-direction: column;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.301);
    width: 100%;
    border-radius: 15px;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 3vh;
}

#about-me h2 {
    font-size: 4.5vh;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#about-me p {
    margin: 2%;
    margin-top: 1%;
    color: black;
}

#key-skills {
    display: flex;
    flex-direction: column;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.301);
    width: 100%;
    border-radius: 15px;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 3vh;
    padding-bottom: 2%;
}

#key-skills h2 {
    margin: 2%;
    margin-bottom: 0%;
}

#img-skills-div {
    display: flex;
    flex-direction: row;
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 0%;
    gap: 1.5%;
    justify-content: center;
}

#img-skills {
    width: 10vh;
}

#long-img {
    width: 14vh;
}

#about-information {
    display: flex;
    flex-direction: row;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.301);
    width: 100%;
    border-radius: 15px;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 3vh;
}

#about-information-subdiv {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin-left: 2vh;
    
}

#about-information-subdiv h2 {
    color: #60A5FA;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

#about-information-subdiv ul {
    margin-bottom: 1vh;
}

#google-maps {
    width: 50%;
    height: 25vh;
    margin: 1%;
    margin-left: 3%;
}

#contact-buttons {
    display: flex;
    flex-direction: column;
    width: 5vh;
    position: fixed;
    right: 2vh;
    top: 45vh;
    gap: 1vh;
}

#contact-buttons img {
    max-width: 75%;
    max-height: 75%;
}

#WhatsApp-button {
    background-color: #075E54;
    padding: 1vh;
    border-radius: 50%;
}

#WhatsApp-button:hover {
    box-shadow: 0 0 10px #075E54;
}

#LinkedIn-button {
    background-color: #0E76A8;
    padding: 1vh;
    border-radius: 50%;
}

#LinkedIn-button:hover {
    box-shadow: 0 0 10px #0E76A8;
}

#Mail-button {
    background-color: grey;
    padding: 1vh;
    border-radius: 50%;
}

#Mail-button:hover {
    box-shadow: 0 0 10px grey;
}

#experience-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 10vh;
}

#experience h2 {
    font-size: 5vh;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.job-experience {
    display: flex;
    flex-direction: column;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.301);
    width: 100%;
    border-radius: 15px;
    font-size: 3vh;
    margin-top: 5vh;
    color: #60A5FA;
}

.job-experience-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 2vh;
    border-bottom: 0.1vh solid grey;
}

.job-experience h3 {
    width: 50%;
}

.job-experience h5 {
    width: 50%;
    text-align: right;
    align-content: center;
}

.job-experience img {
    width: 25vh;
}

.job-experience-content {
    display: flex;
    flex-direction: row;
    margin-left: 3vh;
    margin-right: 3vh;
    gap: 5%;
}

.content-image {
    display: flex;
    width: 25%;
    justify-content: center;
}

.content-description {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.content-description h4 {
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

.content-description ul {
    color: black;
    font-size: 2.3vh;
    margin-bottom: 1vh;
}

.content-footer {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 2vh;
    border-top: 0.1vh solid grey;
}

.content-footer strong {
    box-shadow:  0 0 5px rgba(128, 128, 128, 0.401);
    border-radius: 15px;
    font-size: 2vh;
    padding: 0.75vh;
    color: black;
    font-weight: normal;
}

.skills-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10%;
    text-align: center;
    align-content: center;
}

.skills-title h6 {
    font-size: 3vh;
    font-weight: bolder;
    color: #60A5FA;
}

.skills-tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vh;
}

#services-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#services {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 10vh;
}

#services h2 {
    font-size: 5vh;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5vh;
}

#portfolio-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 10vh;
}

#portfolio h2 {
    font-size: 5vh;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5vh;
}

#contact-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2.3vh;
    color: #1E3A8A;
    margin-top: 10vh;
}

#contact h2 {
    font-size: 5vh;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5vh;
}

.portfolio-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
    justify-content: center;
    margin-bottom: 5vh;
}

.single-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 40vh;
    overflow: hidden;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.301);
    border-radius: 15px;
}

.single-portfolio h3 {
    color: #60A5FA;
    font-size: 3vh;
    margin-top: 1vh;
    text-align: center;
}

.single-portfolio p {
    color: black;
    font-size: 2.3vh;
    margin-top: 1vh;
    text-align: center;
}

.portfolio-img {
    width: 100%;
}





